body {
  padding-top: 45px;
}
.box {
  width: 300px;
  height: 300px;
  background-color: pink;
  position: relative;
  /* margin-top: 45px; */
  z-index: 0;
}
.icon {
  /* position: relative;
  top: 0px; */
  position: absolute;
  top: 0px;
}
.box__icon {
  position: absolute;
  top: 280px;
}
.nav {
  width:100%;
  min-height: 45px;
  background-color: black;
  position: fixed;
  top: 0px;
  z-index: 1;
}